In [1]:
import os
import pandas as pd
from CombinedFunction import process_pptx_to_dataframe

In [2]:
id_path = "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/combined id_ego thru fall 24.xlsx"

In [3]:
paths = [
    "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/2024 A values.pptx",
    "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/2024 B values.pptx",
    "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/2024 E values.pptx",
    "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/2024 G values.pptx",
    "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/2024 M values.pptx"
]

In [4]:
df_total = []
for pptx_path in paths:
    df = process_pptx_to_dataframe(pptx_path, id_path)
    df_total.append(df)

df_total = pd.concat(df_total, ignore_index = True)
df_total

,id_ego,Person Name,From,To,NoMeaningfulEdges,Slide Number
0,10512.0,Bleecker Alexander,General Love Friend + Romantic,Serenity,0,1
1,10512.0,Bleecker Alexander,Humor,Serenity,0,1
2,10512.0,Bleecker Alexander,Intellectualism,Humor,0,1
3,10512.0,Bleecker Alexander,Make a Difference,General Love Friend + Romantic,0,1
4,10512.0,Bleecker Alexander,Accomplishment,Intellectualism,0,1
...,...,...,...,...,...,...
1325,10138.0,Mark Thompson,Make a Difference,Success,0,93
1326,10138.0,Mark Thompson,Success,Strong Work Ethics,0,93
1327,10138.0,Mark Thompson,Ambition,Education,0,93
1328,10138.0,Mark Thompson,Ambition,Make a Difference,0,93
1329,10138.0,Mark Thompson,Responsibilities,Make a Difference,0,93

In [ ]:
for pptx_path in paths:

    df = process_pptx_to_dataframe(pptx_path, id_path)
    
    # Remove file extension from pptx_path to avoid ".pptx.xlsx"
    output_filename = os.path.splitext(os.path.basename(pptx_path))[0] + "_extracted.xlsx"
    
    output_path = f"/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/Extracted Data/{output_filename}"
    
    # df.to_excel(output_path, index=False, engine="openpyxl")