In [1]:
import pandas as pd
from pptx import Presentation
from CombinedFunction import process_pptx_to_dataframe

In [2]:
pptx_path = "test.pptx"

In [3]:
id_path = "id_ego24.xlsx"

In [5]:
df = process_pptx_to_dataframe(pptx_path, id_path)

In [6]:
df

,id_ego,Person Name,From,To,NoMeaningfulEdges,Slide Number
0,10512,Bleecker Alexander,General Love Friend + Romantic,Serenity,0,1
1,10512,Bleecker Alexander,Humor,Serenity,0,1
2,10512,Bleecker Alexander,Intellectualism,Humor,0,1
3,10512,Bleecker Alexander,Make a Difference,General Love Friend + Romantic,0,1
4,10512,Bleecker Alexander,Accomplishment,Intellectualism,0,1
5,10512,Bleecker Alexander,Organization,Make a Difference,0,1
6,10512,Bleecker Alexander,Discipline,Accomplishment,0,1
7,10512,Bleecker Alexander,Discipline,Organization,0,1
8,10512,Bleecker Alexander,General Love Friend + Romantic,Serenity,0,2
9,10512,Bleecker Alexander,Humor,Serenity,0,2
10,10512,Bleecker Alexander,Intellectualism,Humor,0,2
11,10512,Bleecker Alexander,Make a Difference,General Love Friend + Romantic,0,2
12,10512,Bleecker Alexander,Accomplishment,Intellectualism,0,2
13,10512,Bleecker Alexander,Organization,Make a Difference,0,2

In [ ]:
# Save to EXCEL
df = process_pptx_to_dataframe(pptx_path, id_path)
df.to_excel("values.xlsx", index=False, engine="openpyxl")