In [2]:
import os
import pandas as pd
from CombinedFunction import process_pptx_to_dataframe

In [17]:
id_path = "/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/values for coding/combined id_ego thru fall 24.xlsx"

In [18]:
paths = [
    "/Users/jiazhengtian/Desktop/2022 G values2.pptx",
]

In [19]:
df_total = []
for pptx_path in paths:
    df = process_pptx_to_dataframe(pptx_path, id_path)
    df_total.append(df)

In [20]:
df_total = pd.concat(df_total, ignore_index = True)

In [16]:
df_total

,id_ego,Person Name,From,To,NoMeaningfulEdges,Slide Number
0,NaN,Belal Abzakh,Gratification,Bliss,0,1
1,NaN,Belal Abzakh,Relationships,Gratification,0,1
2,NaN,Belal Abzakh,Grit,Gratification,0,1
3,NaN,Belal Abzakh,Character,Gratification,0,1
4,NaN,Belal Abzakh,Wisdom,Character,0,1
5,NaN,Belal Abzakh,Golden rule,Relationships,0,1
6,NaN,Belal Abzakh,Charity,Relationships,0,1

In [ ]:

df_total.to_excel("/Users/jiazhengtian/Desktop/relation.xlsx")

In [9]:
for pptx_path in paths:

    df = process_pptx_to_dataframe(pptx_path, id_path)
    
    # Remove file extension from pptx_path to avoid ".pptx.xlsx"
    output_filename = os.path.splitext(os.path.basename(pptx_path))[0] + "_extracted.xlsx"
    
    output_path = f"/Users/jiazhengtian/Desktop/Research/Paul Ingram_25.2.21/Extracted Data/{output_filename}"
    
    # df.to_excel(output_path, index=False, engine="openpyxl")